header {
    background-color: #59b6f5;
    background-image: linear-gradient(180deg, #59b6f5, #493aee);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
}

#history-container {
    border-top: solid gray 2px;
    margin-top: 10px;
}

#city-info-container {
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
}

#forecast-container {
    padding: 10px;
    margin: 10px;
}

.forecast {
    background-color: rgb(78, 78, 114);
    color:white;
    padding: 5px;
}

.low-uvi {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.moderate-uvi {
    background-color: orange;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.high-uvi {
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.extreme-uvi {
    background-color: purple;
    color: white;
    border-radius: 15px;
    padding: 1px 5px;
}

.btn {
    width: 100%;
}